[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]
docker = "==3.5.0"
docker-compose = "==1.22.0"
docker-pycreds = "==0.3.0"
dockerpty = "==0.4.1"

[requires]
python_version = "3.5"

[packages]
s-r-m = {editable = true, path = "."}
